nav.navigation
  ul
    li
      a.navigation_link-active(href="link.html") Home

    li.navigation-cor
      a(href="link.html") About Us

    li.navigation-cor
      .navigation__link_group.navigation__link_group-head Services
        img(src="assets/blocks/navigation/expand-more.png" alt="стрелка - указатель")
      ul
        li
          .navigation__link_group.navigation__link_group-column Service 1
            img(src="assets/blocks/navigation/expand-more-right.png" alt="стрелка - указатель")
          ul
            li
              a(href="link.html") Пункт 1
            li
              a(href="link.html") Пункт 2
            li
              a(href="link.html") Пункт 3
            li
              a(href="link.html") Пункт 4

        li
          a(href="link.html") Service 2
        li
          a(href="link.html") Service 3
        li
          a(href="link.html") Service 4
        li
          .navigation__link_group.navigation__link_group-column Service 5
            img(src="assets/blocks/navigation/expand-more-right.png" alt="стрелка - указатель")
          ul
            li
              a(href="link.html") Пункт 1
            li
              a(href="link.html") Пункт 2
            li
              a(href="link.html") Пункт 3

    li
      a.navigation-cor-2(href="link.html") Careers

    li
      a(href="link.html") News

    li
      a(href="link.html") Documentation
