nav.navigation
  ul
    li
      a.navigation__link-active(href='link.html') Home
    li
      a(href='link.html') About Us
    li.navigation__link-group
      a(href='link.html') Services
      img(src="assets/blocks/navigation/expand_more.svg" alt="стрелка - указатель")
    li
      a(href='link.html') Careers
    li
      a(href='link.html') News
    li
      a(href='link.html') Documentation
