.nav-bar {
  background-color: white;
  width: auto;
  padding-top: 15px;
  // padding-left: 18px;
  // +
  // position: absolute;
  // width: 1440px;
  height: 55px;
  // left: 0px;
  // top: 260px;
  // -
}