.calc-item {
  display: flex;
  align-items: center;
  // flex: 1;
  min-width: 92px;
  margin-bottom: 3px;

  &__title {
    flex: 1;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    text-transform: uppercase;

    /* Dark 100% */
    color: #1f2041;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 92px;
    button {
      margin-top: 4px;
    }
  }
  &__minus,
  &__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    margin-top: 4px;
    cursor: pointer;
    // user-select: none;
  }
  &__operator {
    background-color: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  &__operator_null {
    filter: opacity(50%);
    // background-color: #d3cb64;
    // border: 1px solid rgba(31, 32, 65, 0.25);
  }
  &__value {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1f2041;
    // оформляем инпут
    width: 30px;
    border: none;
  }
  input::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    /* Dark 100% */

    color: #1f2041;
  }
  // у input[number] убираем стрелочки
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  // .raz {
  //   all: unset;
  //   -moz-appearance: textfield;
  //   width: 3em;
  //   text-align: center;
  // }
  // .raz::-webkit-inner-spin-button {
  //   display: none;
  // }
}
