.subscription
  h1 Subscribe to our newsletter
  p Receive our latest news and promotions in your inbox!
  form(action="", method="get")
    input(type="text" name="email" placeholder="Your email address")
    <button type="submit">arrow_forward</button>
