.subscription
  form(action="", method="get")
    h1 Subscribe to our newsletter
    p Receive our latest news and promotions in your inbox!
    .entry-field
      input(type="text" name="email" placeholder="Your email address")
      <button type="submit">♥</button>
