.type
  .type__bl.type_left-column H1
  .type__text.type_right-column
      |This one is the sub-section or
      br
      |widget title
.type
  .type__bl.type__bl_2.type_left-column H2
  .type__text_2.type_right-column
      |Next one is the item title inside
      br
      |widgets
.type
  .type__bl.type__bl_3.type_left-column h3
  .type__text_3.type_right-column
      |This is a label or CTA text
.type
  .type__bl.type__bl_4.type_left-column Body
  .type__text_4.type_right-column
    |This is the body text which is used for most
    br
    |of the design, like paragraphs, lists, etc.







    //- .wrapper-group
    //-   .wrapper-items-types__1
    //-     .type__1 H1
    //-     .type__1-text
    //-         |This one is the sub-section or
    //-         br
    //-         |widget title
    //-   .wrapper-items-types__2
    //-     .type__2 H2
    //-     .type__2-text
    //-         |Next one is the item title inside
    //-         br
    //-         |widgets
    //-   .wrapper-items-types__3
    //-     .type__3 H3
    //-     .type__3-text
    //-         |This is a label or CTA text
    //-   .wrapper-items-types__4
    //-     .type__4 Body
    //-     .type__4-text
    //-         |This is the body text which is used for most
    //-         br
    //-         |of the design, like paragraphs, lists, etc.
