@import "utils/fonts.scss";
@import "blocks/logo.scss";
@import "blocks/square.scss";
@import "modules/item.scss";
@import "blocks/type.scss";
@import "modules/wrapper.scss";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 30px 30px 0;
  height: 110px;
}

.content-wrapper_two-columns {
  display: flex;
  justify-content: space-between;
}
// отступ по бокам
.side-indent {
  padding-left: 140px;
  padding-right: 140px;
}

// времменные стили для dev
.borders {
  border: dashed 1px green;
}