.navigation-m
  nav
    ul
      li.navigation-m_cor
        a.navigation-m_link-active(href="link.html") Home
      li.navigation-m_cor-2
        a(href="link.html") About Us
      li.sub.navigation-m_cor-3
        .navigation-m_link-group Services
          img(src="assets/blocks/navigation-m/arrow-b.png" alt="стрелка - указатель")
        ul.submenu
          li
            a(href="link.html") Service 1
          li
            a(href="link.html") Service 2
          li
            a(href="link.html") Service 3
      li
        a(href="link.html") Careers
      li
        a(href="link.html") News
      li
        a(href="link.html") Documentation

script(type='text/javascript').
  document.addEventListener('DOMContentLoaded', function(){
    let elmns = document.querySelectorAll('.sub');
    elmns.forEach((element) => {
      console.log(element)
      element.onclick = function()
      {element.classList.toggle('active')
    }})
  })