.footer-links.indent
  .side-indent.footer-links_wrapper
    include ../../blocks/about/about
    .footer-links_wrapper-links
      //- include ../../blocks/links/links
      //- +item-colors(color,"Dark Shade 100%", "#1F2041")(color!="colors__squares_shade100")
      +column-links("Navigation", "link.html", "About Us", "link.html", "News", "link.html", "Support", "link.html", "Products", "link.html")
      +column-links("ABOUT US", "link.html", "Who we are", "link.html", "Our team", "link.html", "Careers", "link.html", "Investors", "link.html")
      +column-links("Support", "link.html", "Documentation", "link.html", "Community", "link.html", "Get in Touch", "link.html")
    include ../../blocks/subscription/subscription