.link-works.side-indent
  h2 Ссылка работает, можете вернуться назад.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem necessitatibus itaque nemo sunt consequuntur qui fugiat veritatis? Illum cumque nam corporis? Error optio exercitationem eum corporis consectetur facere voluptatibus illo.
  img(src="assets/blocks/link-works/stop-link.jpg", alt="Ссылка - заглушка")