//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = "Form Elements";
  - var description = "Лучшие элементы для Ваших прекрасных форм - используйте прямо сейчас!"
  - var keywords = "dropdown, checkbox, buttons"
  - var pageClass = "pageClass_FormElements";

include ../blocks/dropdown/dropdown
include ../blocks/text-field/text-field
block head

block content
  .wrapper.screenWidth-1160
    .form
      //- include ../blocks/text-field/text-field
      +textfield("text field", "Email")
      include ../blocks/text-field_focus/text-field_focus
      .drop_zindex
        +dropdown("", "closed")
      +textfield("masked text field", "ДД.ММ.ГГГГ")

    .form 2
    .form 3
    .form
      .drop_zindex
        +dropdown("room","closed", 2, 2)
      +dropdown("room", "", 2, 2)
    .form
      +dropdown
    .form
      +dropdown("", "", 2, 1)
    .form 7
    .form 8
    .form 9
    .form 10
    .form 11
