//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = "Form Elements";
  - var description = "Лучшие элементы для Ваших прекрасных форм - используйте прямо сейчас!"
  - var keywords = "dropdown, checkbox, buttons"
  - var pageClass = "pageClass_FormElements";

block head

block content
  .wrapper.screenWidth-1160
    .form 1
    .form 2
    .form 3
    .form 4
    .form 5
    .form 6
    .form 7
    .form 8
    .form 9
    .form 10
    .form 11
