//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = "H & F";
  - var description = ""
  - var keywords = ""
  - var pageClass = "pageClass-GreyBackground";
block head
  //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

block content
  block var
    - var userLogin = 0;
  include ../basis/bar/bar
    block bar-content
      .wrapper-bar
        include ../blocks/logo-toxin/logo-toxin
        include ../blocks/user-login/user-login
        include ../blocks/navigation-m/navigation-m

  .indent
    block var
      - var userLogin = 1;
    include ../basis/bar/bar
      block bar-content
        .wrapper-bar
          include ../blocks/logo-toxin/logo-toxin
          include ../blocks/user-login/user-login
          include ../blocks/navigation-m/navigation-m

  //- .indent.z-index
  //-   block var
  //-     - var userLogin = 1;
  //-   include ../basis/bar/bar
  //-     block bar-content
  //-       include ../blocks/logo-toxin/logo-toxin
  //-       .nav-bar_wrapper-right
  //-         include ../blocks/navigation/navigation
  //-         .nav-bar_indent-left
  //-           include ../blocks/user-login/user-login

  //- include ../basis/footer-links/footer-links

  //- .indent-1px-top
  //-   include ../basis/bar/bar
  //-     block bar-content
  //-       include ../blocks/copyright/copyright
  //-       .indent-right-2px
  //-         include ../blocks/social/social
  //- .indent
  //-   include ../basis/footer-creative/footer-creative
  //-     block footer-creative_content
  //-         //- .footer-creative_wrapper
  //-         include ../blocks/logo-toxin/logo-toxin
  //-         p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
  //-         .social_indent-top
  //-           include ../blocks/social/social