//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = "Headers & Footers";
  - var description = ""
  - var keywords = ""
  - var pageClass = "pageClass-GreyBackground";
block head
  //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

block content
  include ../basis/bar/bar
    block bar-content
      .wrapper-bar
        include ../blocks/logo-toxin/logo-toxin
        include ../blocks/user-login/user-login
        include ../blocks/navigation-m/navigation-m