//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = 'Headers & Footers';
  - var pageClass = 'pageClass-GreyBackground';
block head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

block content
  block var
    - var userLogin = 0;
  include ../basis/nav-bar/nav-bar
  .indent
    block var
      - var userLogin = 1;
    include ../basis/nav-bar/nav-bar

  include ../basis/footer-links/footer-links

  - var userLogin = 1;
  case userLogin
    when 1
      p Привет Юзер
    default
      p Залогинься
  i.fa.fa-twitter.fa-fw
  i.fa.fa-twitter.fa-stack-3x
  li
  i.fa.fa-twitter.fa-stack-2x

  .social
    span
