//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = "link works"
  - var description = ""
  - var keywords = ""

block content
  include ../blocks/link-works/link-works