//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = 'link works'

block content
  include ../blocks/link-works/link-works