//- используем макет(шаблон)main.pug в качестве основы
extends ../basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = "Template";
  - var description = ""
  - var keywords = ""
  - var pageClass = "";

block head

block content
