extends ../basis/layout/main
//- include ../blocks/dropdown/dropdown
block head

  //- <link href="css/datepicker.min.css" rel="stylesheet" type="text/css">
  //- <script src="js/datepicker.min.js"></script>

  //- script(type='text/html' src="../lib/jquery-3.5.0.js").
  //- script(type='text/javascript').
  //-   alert("Привет JavaScript");
  //- script(type='text/javascript').
  //-   $(document).ready(function(){
  //-     $(".testik").append("Я сдесь, всё ок.")
  //-   });
  //- jQuary(document).ready(function(){
  //-   $(".testik").append("p")
  //- });

block content
  .test_center
    include ../blocks/text-field/text-field
    include ../blocks/subscription/subscription
    include ../blocks/dropdown/dropdown
    include ../blocks/dropdown/dropdown
    +dropdown("", "closed")
    +dropdown("", "closed")
    h2(onclick="console.log(4)") Привет

    include ../blocks/dropdown-date/dropdown-date
    input(type="date")
    img(src="assets/blocks/dropdown-date/Form Elements_type-Date.png", alt="Пример календаря" title="Пример календаря")
    +dropdown-date()
    +dropdown-date("2019-08-19")
    include ../blocks/arrow/arrow
    include ../blocks/air-datepicker/air-datepicker
