.dropdown
  form(action="", name="form" method="get")
    .dropdown__header dropdown
    .dropdown__info
      input(type="text" name="guests" readonly placeholder="Сколько гостей")
      button(type="button")
        img(src="assets/blocks/dropdown/expand_more.svg" alt="стрелка вниз")
    .dropdown__calculator
      .calc-item
        .calc-item__title взрослые
        .calc-item__wrapper
          .calc-item__minus(onclick="minus()") -
          input(type="text" name="adults"  placeholder="0").calc-item__value
          .calc-item__plus(onclick="plus()") +
      .calc-buttons
        .clear
          input(type="button" value = "очистить")
        .submit
          input(type="submit", value="применить")

script(type='text/javascript').
  document.form.adults.value = 0;
  function plus() {
  document.form.textview.value = Number(document.form.textview.value) + 1;
  }
  function minus() {
    let itemNum = document.form.textview.value;
    if (itemNum > 0) {
      itemNum = Number(document.form.textview.value) - 1;
    }
    //- (itemNum >= 0) ? document.form.textview.value = itemNum;
    if (itemNum > 0) {
      document.form.textview.value = itemNum;
    }
    else document.form.textview.value = 0;
  }
