.dropdown
  form(action="", name="form" method="get")
    .dropdown__header dropdown
    .dropdown__info
      input(type="text" name="guests" readonly placeholder="Сколько гостей")
      button(type="button")
        img(src="assets/blocks/dropdown/expand_more.svg" alt="стрелка вниз")
    .dropdown__calculator
      .calc-item
        .calc-item__title взрослые
        .calc-item__wrapper
          button.calc-item__operator(type='button', onclick='this.nextElementSibling.stepDown()') -
          input.raz.calc-item__value(type='number', min='0', max='999', value='0')
          button.calc-item__operator(type='button', onclick='this.previousElementSibling.stepUp()') +
      .calc-item
        .calc-item__title дети
        .calc-item__wrapper
          button.calc-item__operator(type='button', dd name="mn" onclick='this.nextElementSibling.stepDown()') -
          input.raz.calc-item__value(type='number', min='0', max='999', value='0')
          button.calc-item__operator(type='button', onclick='this.previousElementSibling.stepUp()') +
      .calc-item
        .calc-item__title младенцы
        .calc-item__wrapper
          button.calc-item__operator.calc-item__operator-null(type='button', onclick='this.nextElementSibling.stepDown()') -
          input.raz.calc-item__value(type='number', min='0', max='999', value='0')
          button.calc-item__operator(type='button', onclick='this.previousElementSibling.stepUp()') +
      .calc-buttons
        .clear
          input(type="button" value = "очистить")
        .submit
          input(type="submit", value="применить")

script(type='text/javascript').
  $(document).ready(function) {
    $(.calc-item__wrapper).addClass("calc-item__operator-null");
  }
//- 
  //- let value = document.form.mn.value;
  //- let nullik = document.querySelector(.calc-item__wrapper>input);
  //- if (nullik < 1) {
  //-   document.form.mn.value = 'calc-item__operator-null';
  //- }
  //- //- document.form.adults.value = 0;
  //- function plus() {
  //- document.form.adults.value = Number(document.form.adults.value) + 1;
  //- }
  //- function minus() {
  //-   let itemNum = document.form.adults.value;
  //-   if (itemNum > 0) {
  //-     itemNum = Number(document.form.adults.value) - 1;
  //-   }
  //-   //- (itemNum >= 0) ? document.form.adults.value = itemNum;
  //-   if (itemNum > 0) {
  //-     document.form.adults.value = itemNum;
  //-   }
  //-   else document.form.adults.value = 0;
  //- }
