.dropdown {
  width: 320px;
  form {
    width: 100%;
  }
  &__header {
    width: 81px;
    height: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
  }
  &__info {
    // position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
    input {
      flex: 1;
      // height: 100%;
      width: 276px;
      // width: 320px;
      height: 43px;
      box-sizing: border-box;
      // padding-bottom: 1px;
      background: #ffffff;
      border: 1px solid rgba(31, 32, 65, 0.5);
      box-sizing: border-box;
      border-radius: 4px 0 0 0;
      border-right: none;
      // текст внутри
      font-family: "Montserrat";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.75);
      padding-left: 15px;
    }
    img {
      width: 12px;
      height: 8px;
      position: relative;
      left: 1px;
      bottom: 1px;
    }
    button {
      // position: absolute;
      // left: 276px;
      height: 43px;
      width: 44px;
      background-color: white;
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-radius: 0 4px 0 0;
      border-left: none;
      cursor: pointer;
      padding: 0;
    }
  }
  &__info_border {
    input {
      border-radius: 4px 0 0 4px;
    }
    button {
      border-radius: 0 4px 4px 0;
    }
  }
  &__calculator {
    width: 320px;
    height: 159px;
    left: 587px;
    top: 938.56px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 0 0 4px 4px;
    padding-left: 14px;
    padding-right: 6px;
    padding-top: 2px;
    /*~~~~~~~~~~~~~~~~~~*/
    display: flex;
    flex-direction: column;
    /*~~~~~~~~~~~~~~~~~~~*/
    // visibility: visible;
    display: block;
  }
  &__calculator_show {
    // visibility: hidden;
    display: none;
  }
}
.calc-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  input {
    background-color: white;
    border: none;
    cursor: pointer;
  }
  &_clear input {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    padding: 0;
    visibility: hidden;
  }
  &_clear-vis input {
    visibility: visible;
  }
  &_submit input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Primary Color */
    color: #bc9cff;
    padding: 0;
  }
}
.dropdown_room {
  width: 266px;
  // &__calculator {
  //   width: 320px;
  // }
}
