.text-field_focus
  label
    .text-field_header Text Field
    .text-field_description Hover / Focus
    .text-field_input
      input(type="text" name="email" placeholder="Email" value="This is pretty awesome")