.page-links {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    a {
      display: inline-block;
      margin: 0 5px;
    }
    a:hover {
      cursor: pointer;
    }
}
