//- через variables будем получать константы от тех,
//- кто будет использовать этот макет
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
  body
    header
      include ../includes/modules/header

    main
      p Hello!
    
    footer