.nav-bar
  .side-indent.nav-bar_wrapper
    include ../../blocks/logo-toxin/logo-toxin
    .nav-bar_wrapper-right
      include ../../blocks/navigation/navigation
      include ../../blocks/entry/entry
