//- используем макет(шаблон)main.pug в качестве основы
extends basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = 'Colors & Type'

block content
  .content-wrapper_two-columns
    .colors_wrapper
      +item-colors(colors__squares_shade100,'Dark Shade 100%', '#1F2041')(color!='colors__squares_shade100')
      +item-colors(colors__squares_shade100,'Dark Shade 75%', '#1F2041')(color!='colors__squares_shade75')
      +item-colors(colors__squares_shade100,'Dark Shade 50%', '#1F2041')(color!='colors__squares_shade50')
      +item-colors(colors__squares_shade100,'Dark Shade 25%', '#1F2041')(color!='colors__squares_shade25')
      +item-colors(colors__squares_shade100,'Dark Shade 5%', '#1F2041')(color!='colors__squares_shade5')
      +item-colors(colors__squares_shade100,'Purple', '#BC9CFF')(color!='colors__squares_purple')
      +item-colors(colors__squares_shade100,'Green', '#6FCF97')(color!='colors__squares_green')

    .type-wrapper
      include blocks/type/type