//- используем макет(шаблон)main.pug в качестве основы
extends basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = 'Colors & Type'

block content
  .content-wrapper_two-columns
    .colors_wrapper
      +item-colors(colors__squares_shade100,'Dark Shade 100%', '#1F2041')(color!='colors__squares_shade100')
      +item-colors(colors__squares_shade100,'Dark Shade 75%', '#1F2041')(color!='colors__squares_shade75')
      +item-colors(colors__squares_shade100,'Dark Shade 50%', '#1F2041')(color!='colors__squares_shade50')
      +item-colors(colors__squares_shade100,'Dark Shade 25%', '#1F2041')(color!='colors__squares_shade25')
      +item-colors(colors__squares_shade100,'Dark Shade 5%', '#1F2041')(color!='colors__squares_shade5')
      +item-colors(colors__squares_shade100,'Purple', '#BC9CFF')(color!='colors__squares_purple')
      +item-colors(colors__squares_shade100,'Green', '#6FCF97')(color!='colors__squares_green')

    .type-wrapper
      .type
        .type__bl.type_left-column H1
        .type__text.type_right-column
            |This one is the sub-section or
            br
            |widget title
      .type
        .type__bl.type__bl_2.type_left-column H2
        .type__text_2.type_right-column
            |Next one is the item title inside
            br
            |widgets
      .type
        .type__bl.type__bl_3.type_left-column h3
        .type__text_3.type_right-column
            |This is a label or CTA text
      .type
        .type__bl.type__bl_4.type_left-column Body
        .type__text_4.type_right-column
            |This is the body text which is used for most
            br
            |of the design, like paragraphs, lists, etc.
