//- используем макет(шаблон)main.pug в качестве основы
extends basis/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = 'Colors & Type'

block content
  .content-wrapper_two-columns
    //- include blocks/colors/colors

    .colors_wrapper
      +item-colors(colors_wrapper,colors__squares_shade100,'Dark Shade 100%', '#1F2041')(color!='colors__squares_shade100')
      +item-colors(colors_wrapper,colors__squares_shade100,'Dark Shade 100%', '#1F2041')(color!='colors__squares_shade100')
      +item-colors(colors_wrapper,colors__squares_shade100,'Dark Shade 100%', '#1F2041')(color!='colors__squares_shade100')
      +item-colors(colors_wrapper,colors__squares_shade100,'Dark Shade 100%', '#1F2041')(color!='colors__squares_shade100')
    //- .wrapper-group
    //-   .wrapper-items-types__1
    //-     .type__1 H1
    //-     .type__1-text
    //-         |This one is the sub-section or
    //-         br
    //-         |widget title
    //-   .wrapper-items-types__2
    //-     .type__2 H2
    //-     .type__2-text
    //-         |Next one is the item title inside
    //-         br
    //-         |widgets
    //-   .wrapper-items-types__3
    //-     .type__3 H3
    //-     .type__3-text
    //-         |This is a label or CTA text
    //-   .wrapper-items-types__4
    //-     .type__4 Body
    //-     .type__4-text
    //-         |This is the body text which is used for most
    //-         br
    //-         |of the design, like paragraphs, lists, etc.
