// basis 
@import 'fonts/fonts.scss';
@import 'scss/pages.scss';
@import 'scss/variables.scss';
@import 'scss/mixins.scss';
@import 'basis/header/header.scss';
@import 'basis/footer-links/footer-links.scss';
@import 'basis/bar/bar.scss';
@import 'basis/footer-creative/footer-creative.scss';

// blocks 
@import 'blocks/copyright/copyright.scss';
@import 'blocks/social/social.scss';
@import 'blocks/logo/logo.scss';
@import 'blocks/colors/colors.scss';
@import 'blocks/type/type.scss';
@import 'blocks/page-links/page-links.scss';
@import 'blocks/logo-toxin/logo-toxin.scss';
@import 'blocks/navigation/navigation.scss';
@import 'blocks/link-works/link-works.scss';
@import 'blocks/entry/entry.scss';
@import 'blocks/user/user.scss';
@import 'blocks/about/about.scss';
@import 'blocks/links/links.scss';
@import 'blocks/subscription/subscription.scss';

html {
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $bigDesktopWidth-1440) {
    font-size: 18px;
  }
  @media screen and (max-width: $desktopWidth-1280) {
    font-size: 17px;
  }
  @media screen and (max-width: $smDesktopWidth-980) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth-768) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth-480) {
    font-size: 14px;
  }
  @media screen and (max-width: $sPhoneWidth-320) {
    font-size: 13px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  // Font
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $mainFontSize;
  color: $mainFontColor;
}
// Прижимаем Footer к низу.
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

// времменные стили видеть границы блоков(для dev)
.borders {
  border: dashed 1px green;
}