// basis
@import 'fonts/fonts.scss';
@import 'basis/header/header.scss';
@import 'basis/main/main.scss';

// blocks 
@import 'blocks/logo/logo.scss';
@import 'blocks/colors/colors.scss';
@import 'blocks/type/type.scss';
@import 'blocks/page-links/page-links.scss';
@import 'blocks/nav-bar/nav-bar.scss';
@import 'blocks/logo-toxin/logo-toxin.scss';
@import 'blocks/navigation/navigation.scss';
@import 'blocks/link-works/link-works.scss';

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

// pageClass
.pageClass-GreyBackground {
  background-color: #E5E5E5;
  main {
    padding-top: 10px;
  }
  
}
// времменные стили видеть границы блоков(для dev)
.borders {
  border: dashed 1px green;
}