// basis
@import "scss/vars.scss";
@import "scss/mixins.scss";
@import "scss/pages.scss";
@import "fonts/fonts.scss";
@import "basis/header/header.scss";
@import "basis/footer-links/footer-links.scss";
@import "basis/bar/bar.scss";
@import "basis/footer-creative/footer-creative.scss";

// blocks
@import "blocks/copyright/copyright.scss";
@import "blocks/social/social.scss";
@import "blocks/logo/logo.scss";
@import "blocks/colors/colors.scss";
@import "blocks/type/type.scss";
@import "blocks/page-links/page-links.scss";
@import "blocks/logo-toxin/logo-toxin.scss";
@import "blocks/navigation/navigation.scss";
@import "blocks/link-works/link-works.scss";
@import "blocks/entry/entry.scss";
@import "blocks/user/user.scss";
@import "blocks/about/about.scss";
@import "blocks/links/links.scss";
@import "blocks/subscription/subscription.scss";
@import "blocks/navigation-m/navigation-m.scss";

html {
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  // Font
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $mainFontSize;
  color: $mainFontColor;
}
// максимальная ширина макета
.screenWidth-1440 {
  max-width: 1440px;
  margin: auto;
}
.screenWidth-1160 {
  max-width: 1160px;
  // margin: auto;
  // width: 80.5%;
}
@media (min-width: 550px) and (max-width: 1280px) {
  .screenWidth-1160 {
    margin: 0 guma(60, 1280);
  }
}

// Прижимаем Footer к низу.
.body-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

// оформление ссылок
a {
  color: rgba(31, 32, 65, 0.5);
}
a:link {
  // не посещённая ссылка
  color: rgba(31, 32, 65, 0.5);
}
a:visited {
  // посещённая ссылка
  color: rgba(31, 32, 65, 0.5);
}
a:hover {
  // ссылка, на которую наведен курсор
  color: #8ba4f9;
}
a:active {
  // активная ссылка (совершается клик, или удерживается кнопка мыши)
  color: #66d2ea;
}

// времменные стили видеть границы блоков(для dev)
.borders {
  border: dashed 1px green;
}
