// pageClass
// test
.test_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin-bottom: 20px;
  }
}
// Form Elements
.pageClass_FormElements {
  .wrapper {
    margin: 0 auto;
    // padding-top: 20px;
    display: grid;
    // grid-template: repeat(2, 1fr) / 1fr 1fr 1fr;
    // grid-template-columns: repeat(3, 375px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 695px 270px 340px;
    grid-auto-rows: 250px;
    grid-auto-columns: 330px;
    grid-column-gap: 19px;
    grid-row-gap: 40px;
  }
  .wrapper .form:last-child {
    grid-column: 2 / 4;
  }
  .form {
    padding-left: 1px;
  }
  .wrapper:first-child > .form {
    display: grid;
    grid-template-rows: repeat(4, 87px);
    // grid-row-g
  }
  // .form {
  //   // background-color: rgba(152, 219, 125, 0.404);
  //   // border: 1px solid green;
  // }
  .drop_zindex {
    z-index: 1;
  }
}
// "Headers & Footers"
.pageClass-GreyBackground {
  background-color: #e5e5e5;
  main {
    padding-top: 10px;
  }
  .indent {
    margin-top: 40px;
  }
  .indent-1px-top {
    margin-top: 1px;
  }
  .indent-right-2px {
    padding-right: 2px;
  }
  .z-index ul,
  .z-index li {
    z-index: 1;
  }
}
// Headers & Footers
.wrapper-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  > :nth-child(2) {
    order: 1;
  }
  .wrapper-logo-toxin {
    flex: 1;
  }
  .wrapper-user-login .user {
    flex-shrink: 10;
  }
  .wrapper-navigation {
    margin: 0 guma(30, 1160);
  }
}
@media (max-width: 1090px) {
  .bar-wrapper {
    max-width: 877.45px;
    // margin: 20.64%;
  }
}
@media (max-width: 950px) {
  .wrapper-bar {
    // width: 570px;
    width: 528px;
    margin: 15px auto;
    flex-wrap: wrap;
    justify-content: space-around;
    > :nth-child(2) {
      order: 0;
    }
    .wrapper-navigation {
      margin: 30px auto 15px;
    }
    .wrapper-logo-toxin {
      flex: 0;
    }
  }
}
@media (max-width: 550px) {
  .wrapper-bar {
    width: 98%;
  }
  .wrapper-logo-toxin {
    margin: 15px 0;
  }
}
// "Colors & Type"
.content-wrapper_two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  // margin-bottom: 145px;
  max-width: 1160px;
  width: gum(1160);
  margin: 0 auto 145px;
  @media all and (max-width: $comp-980) {
    width: 790px;
  }
  @media all and (max-width: 820px) {
    width: guma(790, 820);
  }
  @media all and (max-width: 770px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .colors_wrapper {
      margin-bottom: 60px;
    }
  }
}

// Colors
.colors_wrapper {
  display: flex;
  flex-direction: column;
  // padding-top: 5px;
  padding-left: 10px;
}
.colors_wrapper > .colors {
  padding-top: 20px;
}
.colors_wrapper > .colors:first-child {
  padding-top: 0px;
}
// Type
.type-wrapper {
  padding-right: 51px;
  // padding-right: gum(51);
  @media (max-width: $comp-1280) {
    padding-right: 0;
  }
  // padding-top: 5px;
}
.type-wrapper > .type {
  padding-top: 50px;
}
.type-wrapper > .type:first-child {
  padding-top: 0px;
}
.type-wrapper > .type:last-child {
  padding-top: 47px;
}
