// $screenWidth: 1440;
// @function rom($pixels) {
//   @return (($pixels * 100%) /$rrr);
// }


// отступ по бокам
.side-indent {
  // padding-left: 140px;
  // padding-right: 140px;
  padding-left: gum(140);
  padding-right: gum(140);
}

// pageClass
// "Headers & Footers"
.pageClass-GreyBackground {
  background-color: #E5E5E5;
  main {
    padding-top: 10px;
  }
  .indent {
    margin-top: 40px;
  }
  .indent-1px-top {
    margin-top: 1px;
  }
  .indent-right-2px {
    padding-right: 2px;
  }
  .z-index ul,
  .z-index li {
    z-index: 1;
  }
}

// "Colors & Type"
.content-wrapper_two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  margin-bottom: 145px;
}
// Colors
.colors_wrapper {
  display: flex;
  flex-direction: column;
  // padding-top: 5px;
  padding-left: 10px;
}
.colors_wrapper > .colors {
  padding-top: 20px;
}
.colors_wrapper > .colors:first-child {
  padding-top: 0px;
}
// Type
.type-wrapper {
  padding-right: 51px;
  // padding-top: 5px;
}
.type-wrapper > .type {
  padding-top: 50px;
}
.type-wrapper > .type:first-child {
  padding-top: 0px;
}
.type-wrapper > .type:last-child {
  padding-top: 47px;
}
