// отступ по бокам
.side-indent {
  // padding-left: 140px;
  // padding-right: 140px;
  padding-left: gum(140);
  padding-right: gum(140);
  @media all and (max-width: $comp-980) {
    padding-left: gum(70);
    padding-right: gum(70);
  }
}

// pageClass
// "Headers & Footers"
.pageClass-GreyBackground {
  background-color: #E5E5E5;
  main {
    padding-top: 10px;
  }
  .indent {
    margin-top: 40px;
  }
  .indent-1px-top {
    margin-top: 1px;
  }
  .indent-right-2px {
    padding-right: 2px;
  }
  .z-index ul,
  .z-index li {
    z-index: 1;
  }
}
// h-&-f
.wrapper-bar {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-around;

}


// "Colors & Type"
.content-wrapper_two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  // margin-bottom: 145px;
  max-width: 1160px;
  width: gum(1160);
  margin: 0 auto 145px;
  @media all and (max-width: $comp-980) {
    width: 790px;
  }
  @media all and (max-width: 820px) {
    width: guma(790, 820);
  }
  @media all and (max-width: 770px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .colors_wrapper {
      margin-bottom: 60px;
    }
  }
}

// Colors
.colors_wrapper {
  display: flex;
  flex-direction: column;
  // padding-top: 5px;
  padding-left: 10px;
}
.colors_wrapper > .colors {
  padding-top: 20px;
}
.colors_wrapper > .colors:first-child {
  padding-top: 0px;
}
// Type
.type-wrapper {
  padding-right: 51px;
  // padding-right: gum(51);
  @media (max-width: $comp-1280) {
    padding-right: 0;
  }
  // padding-top: 5px;
}
.type-wrapper > .type {
  padding-top: 50px;
}
.type-wrapper > .type:first-child {
  padding-top: 0px;
}
.type-wrapper > .type:last-child {
  padding-top: 47px;
}
