// Size
$mainFontSize             : 14px;
$mainFontColor            : #000000;

$bigDesktopWidth-1440     : 1440px;
$desktopWidth-1280        : 1280px;
$smDesktopWidth-980       : 980px;
$tableWidth-768           : 768px;
$phoneWidth-480           : 480px;
$sPhoneWidth-320         : 320px;
