// Font
$mainFontSize             : 10px;
$mainFontColor            : #000000;
// Screen width
$comp-1920    : 1920px;
$comp-1440    : 1440px;
$comp-1280    : 1280px;
$comp-980     : 980px;
$table-768    : 768px;
$phone-480    : 480px;
$phone-320    : 320px;
// ширина макета в пикселях
$screenWidth: 1440px;